<a [routerLink]="['/home']">
  <h1>My Site</h1>
</a>&nbsp;
  
<nav>
  <a [routerLink]="['/home']" class="button fancy-button"><span class="material-icons">home</span>Home</a> &nbsp;
  <a [routerLink]="['/services']" class="button fancy-button"><span class="material-icons">work</span>Services</a> &nbsp;
  <a [routerLink]="['/offers']" class="button fancy-button"><span class="material-icons">local_offer</span>Offers</a>&nbsp;
  <a [routerLink]="['/contactus']" class="button fancy-button"><span class="material-icons">contact_support</span>About Us</a>&nbsp;
  <a [routerLink]="['/login']" class="button fancy-button"><span class="material-icons">face</span>Login/Sign Up</a>&nbsp;
  <a [routerLink]="['/todo']" class="button fancy-button"><span class="material-icons">speaker_notes_off</span>ToDoList</a>&nbsp;
</nav>
