<p>contact-us works!</p>

<div>
    <button (click)="animate()">Click Me</button>
    <div [@myanimation]="state" class="rotate">
        <img src="assets/images/profileImage.png" width="100" height="100">
    </div>
</div>