<p>Please enter emailid and password if you are an existing user (Ex: Template Driven Forms)</p>

<form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
    <input type="text" name="emailid" placeholder="emaiid" ngModel>
    <br>
    <input type="password" name="password" placeholder="password" ngModel>
    <br>
    <input type="submit" value="submit">
</form>

<form [formGroup] ="formdataValidate" (ngSubmit)="onClickSubmitValidate(formdataValidate.value)">
    <input type="text" class="fortextbox" name="emailValidate" placeholder="emailid" formControlName="emailValidate">
    <br />
    <input type="password" class="fortextbox" name="passwordValidate" placeholder="password" formControlName="passwordValidate">
    <br />
    <input type="submit" [disabled] = "!formdataValidate.valid" class = "forsubmit"  value="Login Validate">
</form>
<p> Email entered is : {{emailValidate}} </p>