<p>services works!</p>


<h3>Angular 7 - Drag and Drop Module</h3>
<div cdkDropList
   #personList = "cdkDropList"
   [cdkDropListData] = "userDetails"
   [cdkDropListConnectedTo] = "[personList]"
   class = "example-list"
   (cdkDropListDropped) = "onDrop($event)" >
   
   <div *ngFor = "let item of userDetails; 
      let i = index" class = "divlayout" cdkDrag>
      {{item.name}}
   </div >
</div>

<h3>Users Data captured from API Url</h3>
<ul>
   <!-- li *ngFor="let item of personaData; let i = index"> {{item.title}} </li -->
</ul>

<h3>Angular 7 - Virtual Scrolling example.</h3>
<cdk-virtual-scroll-viewport [itemSize] = "20">
   <table>
      <thead>
         <tr>
            <td>ID</td>
            <td>ThumbNail</td>
         </tr>
      </thead>
      <tbody>
         <tr *cdkVirtualFor = "let album of photoAlbumDetails">
            <td>{{album.id}}</td>
            <td>
               <img src = "{{album.thumbnailUrl}}" width = "100" height = "100"/>
            </td>
         </tr>
      </tbody>
   </table>
</cdk-virtual-scroll-viewport>

<h3>Angular 7 - Drag and Drop Module</h3>

