table {
    width: 100%;
 }
 cdk-virtual-scroll-viewport {
    height: 500px;
 }

 .divlayout{
   width: 70%;
   background-color: #ccc;
   margin-bottom: 5px;
   padding: 10px 10px;
   border: 3px solid #73AD21;
}