<h1>home works!</h1>
  
    <nav>
     <!-- a routerLink = "/home">Home</a -->
      <!-- a routerLink = "/contactus">Contact Us </a --> 
    </nav>
  
  
  <div> Months :
    <select (change)="changemonths($event)">
      <option *ngFor="let i of months">{{i}}</option>
    </select>
  </div>
  <br />
  
  <div>
    <span *ngIf="isavailable; then condition1 else condition2">Condition is valid.</span>
    <ng-template #condition1> Condition is valid</ng-template>
    <ng-template #condition2> Condition is invalid</ng-template>
  </div>
  
    <div>
      <p>Applied filter for Uppercase: {{ title | uppercase}}</p>
      <p>Applied filter for lowercase: {{ title | lowercase}}</p>
      <p>Applied filter for currency: {{ intValue | currency}}</p> 
      <p>Applied filter for currency in INR: {{ intValue | currency:'INR'}}</p>
      <p>Applied filter for full Date {{dateObj | date}}</p>
      <p>Applied filter for medium Date {{dateObj | date:'medium'}}</p>
      <p>Applied filter for short Date {{dateObj | date:'shortTime'}}</p>
      <p>Applied filter for Date with given format {{dateObj | date:'dd:MM:yyyy'}}</p>
      <p>Without JSON Pipe {{object}}</p>
      <p>With JSON Pipe {{object | json}}</p>
      <p>{{str}}[0:4]: '{{str | slice:0:4}}' - output is expected to be 'abcd'</p>
      <p>{{str}}[4:0]: '{{str | slice:4:0}}' - output is expected to be ''</p>
      <p>{{str}}[-4]: '{{str | slice:-4}}' - output is expected to be 'ghij'</p>
      <p>{{str}}[-4:-2]: '{{str | slice:-4:-2}}' - output is expected to be 'gh'</p>
      <p>{{str}}[-100]: '{{str | slice:-100}}' - output is expected to be 'abcdefghij'</p>
      <p>{{str}}[100]: '{{str | slice:100}}' - output is expected to be ''</p>
  
    </div>
  
  <p><button (click)="myClickFUnction($event)">Click Me</button></p>
  